# Koneksi Database
# Biarkan kosong untuk menggunakan embedded PostgreSQL (PGlite dengan dukungan native JSONB tanpa setup server)
# Atau isi dengan URL PostgreSQL / Supabase, contoh: postgresql://postgres:password@localhost:5432/soal_ayotka
DATABASE_URL=

# Keamanan Sesi Autentikasi
SESSION_SECRET=ayotka_super_secret_session_key_32_bytes_length_internal_admin

# Konfigurasi Aplikasi
NEXT_PUBLIC_APP_NAME="soal.ayotka.id"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# AI Generator Key (Google Gemini API)
GEMINI_API_KEY=

